<section class="content-header">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Correção de prova #{{prova.codPsReqAvaliacao}}</h1>
      <hr>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <form #formProva="ngForm" name="formProva">
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="codPsInscricao">Inscrição:</label>
          <input class="form-control" id="codPsInscricao" name="codPsInscricao" [value]="inscricao.codPsInscricao"
            disabled>
        </div>
        <div class="form-group col-md-5">
          <label for="nome">Nome:</label>
          <input class="form-control" id="nome" name="nome" [value]="inscricao.nome" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="cpf">CPF:</label>
          <input class="form-control" id="cpf" name="cpf" [value]="inscricao.cpf" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="telefone">Telefone:</label>
          <input class="form-control" id="telefone" name="telefone" [value]="inscricao.telefone" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="email">E-mail:</label>
          <input class="form-control" id="email" name="email" [value]="inscricao.email" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="campus">Campus:</label>
          <input class="form-control" id="campus" name="campus" [value]="inscricao.campus" disabled>
        </div>
        <div class="form-group col-md-3">
          <label for="modalidade">Modalidade:</label>
          <input class="form-control" id="modalidade" name="modalidade" [value]="inscricao.processoSeletivo" disabled>
        </div>
        <div class="form-group col-md-5">
          <label for="curso">Curso:</label>
          <input class="form-control" id="curso" name="curso" [value]="inscricao.curso" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="turno">Turno:</label>
          <input class="form-control" id="turno" name="turno" [value]="inscricao.turno" disabled>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="form-group col-md-12">
          <label for="enunciado">Enunciado:</label>
          <br>
          <span id="enunciado" [innerHtml]="prova.descricaoEnunciado"></span>
          <br>
          <img *ngIf="prova.urlImagemEnunciado" [src]="prova.urlImagemEnunciado">
        </div>
        <div class="form-group col-md-12">
          <label for="nome">Título:</label>
          <input class="form-control" id="titulo" name="titulo" readonly [value]="prova.titulo">
        </div>
        <div class="form-group col-md-12">
          <label for="redacao">Redação:</label>
          <textarea class="form-control" id="redacao" [value]="prova.redacao" readonly rows="20">
        </textarea>
        </div>
        <div class="col-md-12">
          <p>{{prova.redacao?.length}} caracteres</p>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="form-group col-md-1">
          <label for="nota">Nota:</label>
          <input class="form-control" type="tel" [disabled]="disabled" id="nota" name="nota" mask="99,00"
            [value]="prova.nota" [(ngModel)]="prova.nota" (blur)="onBlur($event)">
        </div>
        <div class="form-group col-md-2">
          <label style="margin-bottom: 15px; margin-top: 7px;">Status:</label>
          <br>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input [checked]="prova.aprovado" [disabled]="disabled" type="radio" class="form-check-input" name="status"
                [(ngModel)]="prova.aprovado" [value]="true">Aprovado
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input [checked]="!prova.aprovado" [disabled]="disabled" type="radio" class="form-check-input" name="status"
                [(ngModel)]="prova.aprovado" [value]="false">Reprovado
            </label>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="comentario">Comentários:</label>
          <textarea [disabled]="disabled" [value]="prova.comentario" class="form-control" id="comentario"
            name="comentario" [(ngModel)]="prova.comentario" rows="3">
        </textarea>
        </div>
        <div class="offset-lg-10 col-md-2">
          <button [disabled]="disabled" type="button" class="btn btn-dark btn-block"
            (click)="onSubmitFormProva(prova)">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</section>
