<section class="content-header">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Plano de campanha</h1>
      <hr>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <form #formPlano="ngForm" name="formPlano" (ngSubmit)="onSubmitFormPlano(plano)">
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="codPlano">Cód. plano:</label>
          <input class="form-control" id="codPlano" name="codPlano" readonly [value]="plano.codPsPlano">
        </div>
        <div class="form-group col-md-1">
          <label for="codColigada">Coligada:</label>
          <input class="form-control" id="codColigada" name="codColigada" readonly [value]="plano.codColigada">
        </div>
        <div class="form-group col-md-3">
          <label for="tipoCurso">Tipo de curso:</label>
          <select class="form-control" id="codTipoCurso" name="codTipoCurso" [(ngModel)]="plano.codTipoCurso" 
          (change)="onChangeTipoCurso(plano.tipoCurso.codColigada, plano.tipoCurso.codTipoCurso)" readonly>
            <option *ngFor="let item of listaTipoCurso" [ngValue]="item.codTipoCurso">{{item.descricaoTipoCurso}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="codFilial">Unidade:</label>
          <select class="form-control" id="codFilial" name="codFilial" [(ngModel)]="plano.codFilial"
            (change)="onChangeUnidade(plano.codColigada, plano.codTipoCurso, plano.codFilial)" readonly>
            <option *ngFor="let item of listaUnidades" [ngValue]="item.codFilial">{{item.descricaoFilial}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="idPerLet">Período letivo:</label>
          <select class="form-control" id="idPerLet" name="idPerLet"
            [(ngModel)]="plano.idPerLet" (change)="onChangePeriodoLetivo(plano.codColigada, plano.codTipoCurso, plano.idPerLet)" readonly>
            <option *ngFor="let item of listaPeriodoLetivo" [ngValue]="item.idPerLet">{{item.idPerLet}} - {{item.descricaoPeriodoLetivo}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="nome">Nome da campanha:</label>
          <input class="form-control" id="nome" name="nome" [(ngModel)]="plano.nome" readonly>
        </div>
        <div class="form-group col-md-2">
          <label for="dtInicio">Data Inicial:</label>
          <input type="date" class="form-control" id="dtInicio" name="dtInicio" [(ngModel)]="plano.dtInicio">
        </div>
        <div class="form-group col-md-2">
          <label for="hrInicio">Hora Inicial:</label>
          <input type="time" class="form-control" id="hrInicio" name="hrInicio" [(ngModel)]="plano.hrInicio">
        </div>
        <div class="form-group col-md-2">
          <label for="dtFim">Data Final:</label>
          <input type="date" class="form-control" id="dtFim" name="dtFim" [(ngModel)]="plano.dtFim">
        </div>
        <div class="form-group col-md-2">
          <label for="hrFim">Hora Final:</label>
          <input type="time" class="form-control" id="hrFim" name="hrFim" [(ngModel)]="plano.hrFim">
        </div>
        <div class="form-group col-md-2">
          <label style="margin-bottom: 15px; margin-top: 7px;">Tipo de Plano:</label>
          <br>
          <div class="form-check-inline" data-toggle="tooltip" title="Plano Público é utilizado para vincular convênios e estará vísivel junto as ofertas.">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="codPsTipoPlano" [(ngModel)]="plano.codPsTipoPlano" [value]="1" checked readonly>Público 
            </label>
          </div>
          <div class="form-check-inline" data-toggle="tooltip" title="Plano Privado NÃO é possivel vincular convenios e apenas será visivel no adminisrativo para vincular a bolsas especiais.">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="codPsTipoPlano" [(ngModel)]="plano.codPsTipoPlano" [value]="2" disabled>Privado
            </label>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label style="margin-bottom: 20px;">Status:</label>
          <br>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="status" [(ngModel)]="plano.status" [value]="true" checked readonly>Ativo
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="status" [(ngModel)]="plano.status" [value]="false" disabled>Inativo
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12">
          <h5>Parcelas do plano:</h5>
        </div>
        <div class="col-md-12" *ngFor="let parcela of plano.parcelas">
          <table class="table table-sm table-bordered text-center">
            <thead style="background-color: lightgrey;">
              <tr>
                <th>Parcela</th>
                <th>Servico</th>
                <th>Banco</th>
                <th>Conta de caixa</th>
                <th>Gerar Lançamento</th>
                <th>Permite convênio</th>
                <th>Gerar integração</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td [attr.rowspan]="parcela.bolsas.length + 2" class="align-middle">{{parcela.parcela}}</td>
                <td>{{parcela.servico}}</td>
                <td>{{parcela.banco}}</td>
                <td>{{parcela.codCxa}}</td>
                <td>{{parcela.parcela == plano.parcelaLan ? 'Sim' : 'Não'}}</td>
                <td>{{parcela.permiteConvenio ? 'Sim' : 'Não'}}</td>
                <td [attr.rowspan]="parcela.bolsas.length + 2" class="align-middle">{{parcela.geraLanIntegracao ? 'Sim'
                  : 'Não'}}</td>
                <td [attr.rowspan]="parcela.bolsas.length + 2" class="py-0 align-middle">
                  <div class="btn-group btn-group-sm">
                    
                  </div>
                </td>
              </tr>
              <tr style="font-weight: 500; background-color: lightgrey;">
                <td>Bolsa</td>
                <td>Desconto</td>
                <td>Tipo de desconto</td>
                <td>Tipo de bolsa</td>
                <td>Ordem de aplicação</td>
              </tr>
              <tr *ngFor="let bolsa of parcela.bolsas" style="font-weight: 100;">
                <td *ngIf="bolsa.codBolsa">{{bolsa.codBolsa}} - {{bolsa.descricaoBolsa}}</td>
                <td *ngIf="!bolsa.codBolsa">
                  --
                </td>
                <td *ngIf="bolsa.codBolsa">
                  {{bolsa.valor}}
                </td>
                <td *ngIf="!bolsa.codBolsa">
                  --
                </td>
                <td>{{bolsa.descricaoTipoDesc}}</td>
                <td>{{bolsa.descricaoTipoBolsa}}</td>
                <td>{{bolsa.ordemAplicacao}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="offset-lg-10 col-md-2">
          <button type="submit" class="btn btn-dark btn-block">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</section>
